<!doctype html>
<html language="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
    <meta name="description" content="{{description}}">
    <meta name="Keywords" content="{{keywords}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/project.css">
</head>
<body>

<div id="app">
    <div>{{componentHtml}}</div>
</div>
<script>
    window['_INITIAL_STATE_'] = {{initialState}};
</script>
<script src="/js/vendor.js"></script>
<script src="/js/client.js"></script>
</body>
</html>