<!doctype html>
<html language="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
    <meta name="description" content="{{description}}">
    <meta name="Keywords" content="{{keywords}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/project.css">
    <!--<script type="text/javascript" src="//api-maps.yandex.ru/2.1/?key=AOo7BlkBAAAAp73eMQIAFU3V3TkMnpTjCllmx8f6YMR8CPIAAAAAAAAAAAAanUSuK5pEWPBRT0aB5xl0SF5xFw==&modules=regions~metro" charset="utf-8"></script>-->
    <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU" charset="utf-8"></script>
</head>
<body>

<div id="app">
    <div>{{componentHtml}}</div>
</div>

{{{initialState}}}
<script src="/js/vendor.js"></script>
<script src="/js/client.js"></script>
</body>
</html>